.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.input-login{
    margin: 10px 0 10px 0 !important;
}

.btn-login{
    width: 75%;
    background-color: #e2b646 !important;
}

.registra{
    color: #e2b646
}