.container{
    display: flex;
}

.container-login{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-image-login{
    width: 50%;
    height: 100vh;
    background-color: #e2b646;
}

.container-image-login{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    .container-image-login{
        display: none;
    }
    
    .container-login{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}